<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button id="tologin" onclick="location.href='/login'">login 페이지로 이동</button>
    <p></p>
  </body>
</html>
