<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/loginstyle.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    ID : <input type = text id = "ID">
    Password:<input>
    <h2>
      <button
              id = 'login' onclick="location.href='/users'">login
      </button>
    </h2>
    <p>123</p>
  </body>
  <body2>
    이렇게 가능한가?
    오 잘 되는구나
    바디마다 스타일을 바꿀수 있는지 테스트
    오 이것도 되네
  </body2>
</html>
